{
  "presets": ["env"],
  "env": {
    "test": {
      "plugins": [[
        "istanbul",
        {
          "exclude": [
            "node_modules",
            "spec"
          ],
        }
      ]]
    }
  }
}
